.navbar {
  height: 60px;
  width: 100%;
  display: flex;
}

.navbarJumpLinks {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: auto 20px;
}

.navbarJumpLinks li {
  counter-increment: item 1;
  font-family: Montserrat;
  cursor: pointer;
  transition: color 100ms ease-in;
  font-size: 3.25vh;
}

.navbarJumpLinks li a {
  text-decoration: none;
  color: white;
  transition: 100ms color ease-in;
}

.navbarJumpLinks li::before {
  content: "0" counter(item) ".";
  color: #f72585;
  margin-right: 5px;
}

.navbarLinks {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.navbarLinks a {
  height: 40px;
  width: 40px;
  display: flex;
}

.linkSVG {
  height: 40px;
  width: 40px;
  fill: white;
  transition: 100ms fill ease-in;
}

.linkSVG:hover {
  fill: #f72585;
}

.navbarJumpLinks li a:hover {
  color: #f72585;
}
